 body {
  max-width: 50vw;
  height: 50vh;
  padding: 0;
  margin: 0;
}

.footer div {
  background: linear-gradient(180deg, #a303e7 0%, rgb(230, 62, 242) 100%);
  overflow: hidden;
  width: 100vw;
  height: 70vh;
}

h1, h2, h3, h4, p {
font-family: 'Audiowide', cursive;
}

h3 {
  color: white;
  font-size: 26px;
  padding-left: 100px;
  padding-top: 50px;
}

h4 {
    color: white;
    font-size: 26px;
    padding-left: 150px;
  }

li {
  font-family: 'Audiowide', cursive;
}

.menu-list div {
  align-items: flex-end;
}


/* Alternatives Styling */ 

/* .example-container div {
  background: white;
  border-radius: 100px;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
*/

/* box-sizing: border-box; */

