* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */

.footer div {
  background: linear-gradient(180deg, #a303e7 0%, rgb(230, 62, 242) 100%);
  overflow: hidden;
  width: 100vw;
  height: 70vh;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
font-family: 'Audiowide', cursive;
}

h2.louise {
  color: black;
  font-size: 35px;
  margin-left: 190px;
}

h3 {
  color: white;
  font-size: 26px;
  padding-left: 100px;
  padding-top: 50px;
}

h4 {
    color: white;
    font-size: 26px;
    padding-left: 150px;
}

h5 {
  text-align: center;
  font-size: 18px;
}
/* Portfolio page */

img.mockup {
  width: 70%; 
}

div.container {
  text-align: center;
}

button.view {
  color: #a303e7;
  font-size: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-style: none;
  padding: 15px;
}

/* Navigation Menu Styling  */

div .slide {
  height: 110%;
  width: 180px;
  position: absolute;
  background-color: #FFF;
  transition: 0.5s ease;
  transform: translate(-180px);
}

h2 {
  color:rgb(230, 62, 242); 
  font-weight: 800;
  padding: 20px 0;
  text-align: left;
  padding-left: 70px;
  pointer-events: none;
}

ul li {
  font-family: 'Audiowide', cursive;
  list-style: none;
}

ul li a {
  color: #a303e7;
  font-size: 20px;
  padding: 5px 10px;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}

ul li:hover a {
  color: white;
  background-color: #a303e7;
}

input {
  display: none;
  visibility: hidden;
  -webkit-appearance: none;
}

.toggle {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  left: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  cursor: pointer;
  border-radius: 2px;
  z-index: 1;
}

.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #a303e7;
  border-radius: 50px;
  transition: 0.3s ease;
}

.toggle .top-line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .middle-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle .bottom-line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top-line {
left: 2px;
top: 14px;
width: 25px;
transform: rotate(45deg);
}

input:checked ~ .toggle .bottom-line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}

input:checked ~ .toggle .middle-line {
  opacity: 0;
  transform: translate(20px)
}

input:checked ~ .slide {
  transform: translate(0);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


/* Alternatives Styling */ 

/* .example-container div {
  background: white;
  border-radius: 100px;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
*/
